.h-wrap {
  width: 95%;
  margin: 2% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.h-wrap__lg {
  margin: auto;
  width: 8%;
  height: 8%;
}
.h-wrap__lg img {
  margin: auto 0;
  width: 100%;
}
.h-wrap__nav {
  background-color: #fff;
  width: 75vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.nav-item__img {
  background-color: #fff;
}
.nav-item__img img {
  margin: auto;
  width: 3vw;
}
.nav-item__text {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-left: 3%;
  background-color: #fff;
}
.nav-item__text p {
  font-family: Open Sans;
  font-size: 1vw;
  line-height: 1.5vw;
}

.h-link {
  background: #497952;
  padding: 1% 0;
}
.h-link-wrap {
  width: 60%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.h-link-wrap__item a {
  text-decoration: none;
  color: whitesmoke;
  font-family: Open Sans;
  font-size: 1vw;
  font-weight: 700;
}

.info-bl {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}
.info-bl__item {
  margin: 2% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
@media screen and (min-width: 1101px) {
  .info-bl__item {
    height: 90px;
    width: 90px;
  }
}
@media (min-width: 700px) and (max-width: 1100px) {
  .info-bl__item {
    height: 70px;
    width: 70px;
  }
}
@media screen and (max-width: 699px) {
  .info-bl__item {
    height: 50px;
    width: 50px;
    margin: 0 2%;
  }
}
@media screen and (min-width: 1101px) {
  .info-bl__item img {
    height: 90px;
    width: 90px;
  }
}
@media (min-width: 700px) and (max-width: 1100px) {
  .info-bl__item img {
    height: 70px;
    width: 70px;
  }
}
@media screen and (max-width: 699px) {
  .info-bl__item img {
    height: 50px;
    width: 50px;
    margin: 0 2%;
  }
}
.info-bl__item-text {
  text-align: center;
  position: absolute;
  top: 130%;
  font-family: Open Sans;
  font-size: 16px;
  line-height: 20px;
  white-space: nowrap;
  color: #497952;
}
@media screen and (max-width: 1100px) {
  .info-bl__item-text {
    font-size: 13px;
    margin: 10px 0;
  }
}
@media screen and (max-width: 750px) {
  .info-bl__item-text {
    font-size: 10px;
    margin: 0;
  }
}
@media screen and (max-width: 500px) {
  .info-bl__item-text {
    font-size: 8px;
    margin: 0;
  }
}
@media screen and (max-width: 300px) {
  .info-bl__item-text {
    font-size: 7px;
    margin: 0;
  }
}

.w-bl {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}
@media screen and (min-width: 1101px) {
  .w-bl {
    margin: 8% auto 10%;
  }
  .w-bl__uptext {
    font-size: 16px;
  }
  .w-bl__text {
    font-size: 12px;
  }
}
@media (min-width: 700px) and (max-width: 1100px) {
  .w-bl {
    margin: 11% auto 5%;
  }
  .w-bl__uptext {
    font-size: 12px;
  }
  .w-bl__text {
    font-size: 10px;
  }
}
@media screen and (max-width: 699px) {
  .w-bl {
    margin: 14% auto 5%;
  }
}
.w-bl__uptext {
  font-family: Open Sans;
  font-weight: 900;
  font-size: 1.3vw;
  text-transform: uppercase;
  color: #535353;
  margin-bottom: 1vw;
}
.w-bl__text {
  font-family: Open Sans;
  font-size: 1vw;
  line-height: 1.7vw;
  width: 40vw;
  text-align: justify;
  color: #535353;
}
.w-bl__link {
  float: right;
}
.w-bl__link a {
  color: #497952;
}
.w-bl__video {
  width: 26vw;
  height: 15vw;
  border: 1px solid #497952;
  background: #f9edf0;
  position: absolute;
  left: 63%;
  top: 2%;
}
.w-bl__video img {
  position: absolute;
  top: 33%;
  left: 42%;
  width: 4.5vw;
}

.sim-slider {
  height: 30vw;
  width: 85%;
  margin: 2.5% auto;
}
.sim-slider-list {
  margin: 0 auto;
  list-style-type: none;
  position: relative;
}
.sim-slider-element {
  max-width: 50vw;
  -webkit-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
  opacity: 0;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
}
.sim-slider-element img {
  margin: 0 auto;
  height: 30vw;
}

.sim-slider-arrow-left,
.sim-slider-arrow-right {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 14vw;
  cursor: pointer;
  display: block;
  opacity: 0.6;
  z-index: 4;
}
.sim-slider-arrow-left:hover,
.sim-slider-arrow-right:hover {
  opacity: 1;
}

.sim-slider-arrow-left {
  left: 3%;
  background: url("../img/arrow-prew.png") no-repeat;
}

.sim-slider-arrow-right {
  right: 2%;
  background: url("../img/arrow-next.png") no-repeat;
}

.sim-slider-dots {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 26vw;
  z-index: 3;
  text-align: center;
}

span.sim-dot {
  width: 10px;
  height: 10px;
  margin: 2% 1%;
  padding: 0;
  display: inline-block;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

#slider1-down-elements {
  position: relative;
}